
    <footer class="footer bg-light border-top mt-5">
      <div class="container mt-4 pb-5">
        <h3 class="text-center">
        Вы поставщик?
        </h3>
        <div class="row mt-4">  
          <div class="col">
            <p>
              Для доступа к телефонам покупателей заполните форму или позвоните нам +7 999 888-77-66
            </p>
            <p>
              Текст с дополнительной информацией по условиям сотрудничества.<br>
              Возможно стоит вынести его на отдельную страницу.<br>
              Текст с дополнительной информацией по условиям сотрудничества.<br>
              Возможно стоит вынести его на отдельную страницу.<br>
            </p>
          </div>
          <div class="col">
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label text-right">Организация</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="Организация">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label text-right">Телефон</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="Телефон">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label text-right">Email</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label text-right">Имя</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="Имя">
              </div>
            </div>
            <div class="col-sm-8 offset-sm-4">
              <button type="button" class="btn btn-sm btn-outline-primary">
                Отправить информацию
              </button>
            </div>
        </div>
      </div>
    </footer>